<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="potato" translate="label" sortOrder="310">
            <label>POTATOCOMMERCE</label>
        </tab>
        <section id="potato_image_optimization" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Image Optimizer</label>
            <tab>potato</tab>
            <resource>Potato_ImageOptimization::potato_image_optimization</resource>
            <group id="general" translate="label,comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General</label>
                <field id="is_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="image_backup" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Create Backup of Images</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Images will be backed up into folder "var/po_image_optimization_original_images".</comment>
                </field>
                <field id="processed_images_grid" translate="label comment" type="button" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Potato\ImageOptimization\Block\Adminhtml\System\Config\ImageList</frontend_model>
                </field>
            </group>
            <group id="jpg" translate="label,comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>JP(E)G Files Optimization</label>
                <field id="optimization_method" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Images Optimization Method</label>
                    <source_model>Potato\ImageOptimization\Model\Source\System\OptimizationMethod</source_model>
                    <comment><![CDATA[Learn more at the <a href="https://potatocommerce.com/image-optimizer-magento-2.html#readme" class="external-link" rel="nofollow" title="Follow link">User Guide</a>.]]></comment>
                </field>
                <field id="compression_level" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Image Quality</label>
                    <comment>85 as default because Google PageSpeed requires it</comment>
                    <source_model>Potato\ImageOptimization\Model\Source\System\ImageQuality</source_model>
                </field>
            </group>
            <group id="png" translate="label,comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>PNG Files Optimization</label>
                <field id="optimization_method" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Images Optimization Method</label>
                    <source_model>Potato\ImageOptimization\Model\Source\System\OptimizationMethod</source_model>
                    <comment><![CDATA[Learn more at the <a href="https://potatocommerce.com/image-optimizer-magento-2.html#readme" class="external-link" rel="nofollow" title="Follow link">User Guide</a>.]]></comment>
                </field>
            </group>
            <group id="gif" translate="label,comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>GIF Files Optimization</label>
                <field id="optimization_method" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Images Optimization Method</label>
                    <source_model>Potato\ImageOptimization\Model\Source\System\OptimizationMethod</source_model>
                    <comment><![CDATA[Learn more at the <a href="https://potatocommerce.com/image-optimizer-magento-2.html#readme" class="external-link" rel="nofollow" title="Follow link">User Guide</a>.]]></comment>
                </field>
            </group>
            <group id="status" translate="label,comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Status</label>
                <field id="html_content" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <frontend_model>Potato\ImageOptimization\Block\Adminhtml\System\Config\Status</frontend_model>
                </field>
            </group>
            <group id="advanced" translate="label,comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Advanced Options</label>
                <field id="include_dirs" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Optimize Current Directories</label>
                    <frontend_model>Potato\ImageOptimization\Block\Adminhtml\System\Config\IncludeDir</frontend_model>
                    <backend_model>Potato\ImageOptimization\Model\Config\Backend\ArraySerialized</backend_model>
                </field>
                <field id="exclude_dirs" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Exclude Directories From Optimization</label>
                    <frontend_model>Potato\ImageOptimization\Block\Adminhtml\System\Config\ExcludeDir</frontend_model>
                    <backend_model>Potato\ImageOptimization\Model\Config\Backend\ArraySerialized</backend_model>
                </field>
                <field id="custom_tools_path" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Custom Path To Directory With Optimization Tools</label>
                </field>
            </group>
        </section>
    </system>
</config>
