#row_potato_image_optimization_status_html_content td.label {
    width: 20%;
    padding-top: 0;
}

#row_potato_image_optimization_status_html_content td.value {
    padding: 0 10px 0 40px;
    width: 100%;
}

#row_potato_image_optimization_status_html_content .status-error-group-list {
    list-style-type: decimal;
    margin-left: 15px;
}

#row_potato_image_optimization_status_html_content .status-error-value {
    color: #ce0000;
    font-weight: bold;
}

#row_potato_image_optimization_status_html_content .status-success-value {
    color: #15b000;
    font-weight: bold;
}

#row_potato_image_optimization_status_html_content .po-image-status-progress-value {
    color: #15b000;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

#po_image_status_progress_bar {
    width: 100%;
    height: 25px;
    background: #ecba9b;
    text-align: center;
    border: 0;

}

#po_image_status_progress_bar::-webkit-progress-bar {
    background-color: #ecba9b;
    border-radius: 3px;
}

#po_image_status_progress_bar::-moz-progress-bar {
    background: #a5ec9b;
    border-radius: 3px;
}

#row_potato_image_optimization_status_html_content .po-image-status-progress-result {
    text-align: center;
    font-weight: 400;
    color: #1c635b;
    position: relative;
    top: -26px;
}

#po_image_status_progress_bar::-webkit-progress-value {
    border-radius: 3px 0 0 3px;
    background-color: #a5ec9b;
}

#po_image_status_progress_bar[value] {
    background: #ecba9b;
    border-radius: 3px;
}