<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <system>
        <tab id="meetanshi" translate="label" sortOrder="100">
            <label><![CDATA[<img src="https://meetanshi.com/media/logo.png" alt="Meetanshi" height="15" style="vertical-align:middle;"/>]]></label>
        </tab>
        <section id="admin_notifications" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Admin Email Notifications</label>
            <tab>meetanshi</tab>
            <resource>Meetanshi_Notifications::notifications_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Admin Email Notifications</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="email_sender" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <comment><![CDATA[]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="receiver" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Receiver Email</label>
                    <comment><![CDATA[]]></comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <group id="order" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>New Order Placement Email Settings</label>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>New Order Placement Notifications</label>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    </field>
                    <field id="email_template" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Email Template</label>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <depends>
                        <field id="admin_notifications/general/enable">1</field>
                    </depends>
                </group>
                <group id="order_status" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Order Status Change Email Settings</label>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Order Status Change Email Notifications</label>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    </field>
                    <field id="to" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Send Email When Order Status Changes to</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="email_template" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Email Template</label>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <depends>
                        <field id="admin_notifications/general/enable">1</field>
                    </depends>
                </group>
                <group id="stock" type="text" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Low Stock Alert Email Settings</label>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Low Stock Notifications</label>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    </field>
                    <field id="limit" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Low Stock Threshold Quantity</label>
                        <comment><![CDATA[]]></comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>

                    <field id="email_template" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Email Template</label>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <depends>
                        <field id="admin_notifications/general/enable">1</field>
                    </depends>
                </group>
                <group id="review" type="text" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>New Review Notification Settings</label>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>New Review Notifications</label>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    </field>
                    <field id="email_template" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Email Template</label>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                   <depends>
                        <field id="admin_notifications/general/enable">1</field>
                    </depends>
                </group>
                <group id="registration" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>New Customer Registration Email Settings</label>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>New Customer Registration Notifications</label>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    </field>
                    <field id="email_template" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Email Template</label>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <depends>
                        <field id="admin_notifications/general/enable">1</field>
                    </depends>
                </group>
                <group id="newsletter" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Newsletter Subscription Email Settings</label>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Newsletter Subscription Notifications</label>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    </field>
                    <field id="email_template" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Email Template</label>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <depends>
                        <field id="admin_notifications/general/enable">1</field>
                    </depends>
                </group>
                <group id="unsubscription" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Newsletter Unsubscription Email Settings</label>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Newsletter Unsubscription Notifications</label>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    </field>
                    <field id="email_template" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Email Template</label>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <depends>
                        <field id="admin_notifications/general/enable">1</field>
                    </depends>
                </group>
                <group id="wishlist" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Wishlist Email Settings</label>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Wishlist Notifications</label>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    </field>
                    <field id="email_template" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Email Template</label>
                        <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <depends>
                        <field id="admin_notifications/general/enable">1</field>
                    </depends>
                </group>
            </group>
        </section>
    </system>
</config>