<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
		     <group id="active" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Licence Key Activation</label>
				<field id="licence_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Licence Key</label>					
				</field>
				<field id="serial_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Serial Key</label>					
				</field>
			</group>
			
            <group id="mconnectcustomflatrate" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mconnect Flat Rate</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>
				<field id="type" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Type</label>
                    <source_model>Mconnect\Customflatrate\Model\Config\Source\Methodtype</source_model>
					<comment><![CDATA[
                                <b>Per Product</b> - It will calculate the shipping price per product on cart page.<br />
                                <b>Per Order</b> - it will calculate the shipping based on Max / Min configuration, if you selecte MAX then it will prefer the highest value shipping from the particular product shipping rate:
                                Example: A, B and C product are added to cart
                                Shipping for Product A = $10
                                Shipping for Product B = $40
                                Shipping for Product C = $30
                                So in MAX config case the shipping price will be = $40
                                In MIN config case the shipping price will be = $10 
                                ]]>
                     </comment>
                </field>
				<field id="max_min" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Max / Min</label>
                    <source_model>Mconnect\Customflatrate\Model\Config\Source\Maxmin</source_model>
					<depends>
						<field id="type">o</field>
					</depends>
                </field>
				<field id="shipping_default_value_enable" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Display Default Rate</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>If set to "Yes", the default rate will be used for products which do not have shipping rate assigned. If set to "No", 0 will be used for all products which do not have shipping rate.</comment>
                </field>
				<field id="default_shipping_cost" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Default Product Shipping Cost</label>
					<validate>validate-number validate-zero-or-greater</validate>
					<comment>Sets a base shipping cost if any product does not have shipping rate assigned.</comment>
                    <depends>
						<field id="shipping_default_value_enable">1</field>
					</depends>
                </field>
				<field id="multiply_qty" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Multiply Qty</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>If same product added multiple time.</comment>
					<depends>
						<field id="type">p</field>
					</depends>
				</field>
				<field id="allow_free_shipping" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Allow Free Shipping</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Allow Free Shipping for order total Greater than $XX.XX</comment>
				</field>
				<field id="free_shipping_over_total" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Free Shipping Over Total</label>
                    <validate>validate-number validate-zero-or-greater</validate>
					<depends>
						<field id="allow_free_shipping">1</field>
					</depends>
					<comment>e.g. 100</comment>
                </field>
                <!--<field id="price" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Default Product Shipping Cost</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
				<field id="handling_type" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Calculate Handling Fee</label>
                    <source_model>Magento\Shipping\Model\Source\HandlingType</source_model>
                </field> -->
                <field id="handling_fee" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Handling Fee</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="91" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="show_method" translate="label" type="select" sortOrder="92" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="specificerrmsg" translate="label" type="textarea" sortOrder="93" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
					<depends>
						<field id="show_method">1</field>
					</depends>
                </field>
				<field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
            </group> 
          </section>
    </system>
</config>
