<?xml version="1.0"?>
<!--

Solwin Infotech
Solwin Ournews Extension

@category   Solwin
@package    Solwin_Ournews
@copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
@license    https://www.solwininfotech.com/magento-extension-license/

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <newssection>
            <newsgroup>
                <active>0</active>
                <toplink>0</toplink>
                <footerlink>0</footerlink>
                <route>news.html</route>
                <url_prefix>news</url_prefix>
                <url_suffix>.html</url_suffix>
                <showrightsidebar>0</showrightsidebar>
                <newstitle>Latest News</newstitle>
                <newslimit>5</newslimit>
                <readmore>View All</readmore>
                <newsnotfound>There are no news found at this moment</newsnotfound>
            </newsgroup>
        </newssection>
    </default>
</config>