<?xml version="1.0"?>
<!--

Solwin Infotech
Solwin Ournews Extension

@category   Solwin
@package    Solwin_Ournews
@copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
@license    https://www.solwininfotech.com/magento-extension-license/ 

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\Controller\Adminhtml\Index\GlobalSearch">
        <arguments>
            <argument name="searchModules" xsi:type="array">
                <item name="solwin_ournews_news" xsi:type="array">
                    <item name="class" xsi:type="string">Solwin\Ournews\Model\Adminhtml\Search\News</item>
                    <item name="acl" xsi:type="string">Solwin_Ournews::news</item>
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="SolwinOurnewsGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
<!--    <virtualType name="SolwinOurnewsNewsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Solwin\Ournews\Model\ResourceModel\News\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">SolwinOurnewsGirdFilterPool</argument>
        </arguments>
    </virtualType>-->
    <type name="Solwin\Ournews\Model\ResourceModel\News\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">solwin_ournews_news</argument>
            <argument name="eventPrefix" xsi:type="string">solwin_ournews_news_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">news_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Solwin\Ournews\Model\ResourceModel\News</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="solwin_ournews_news_listing_data_source" xsi:type="string">Solwin\Ournews\Model\ResourceModel\News\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
