<?xml version="1.0"?>
<!--

Solwin Infotech
Solwin Ournews Extension

@category   Solwin
@package    Solwin_Ournews
@copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
@license    https://www.solwininfotech.com/magento-extension-license/ 

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Solwin_Ournews" setup_version="3.0.1">
        <sequence>
            <module name="Magento_Backend"/>
        </sequence>
    </module>
</config>
