<?xml version="1.0"?>
<!--
/**
 * Activo Extensions
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Activo Commercial License
 * that is available through the world-wide-web at this URL:
 * http://extensions.activo.com/license_professional
 *
 * @copyright   Copyright (c) 2017 Activo Extensions (http://extensions.activo.com)
 * @license     Commercial
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    
    <default>
        <activo_bulkimages>
            <global>
                <licensekey></licensekey>
                <sourcefolder>import</sourcefolder>
                <separator>-BI-</separator>
                <excludefirst>1</excludefirst>
                <deleteold>1</deleteold>
                <filteroptions>1</filteroptions>
                <attachtosimple>0</attachtosimple>
            </global>
            <dragndrop>
                <uploadfolder>uploads</uploadfolder>
                <removeafterupload>1</removeafterupload>
            </dragndrop>
            <regex>
                <regexpattern></regexpattern>
                <regexreplace></regexreplace>
            </regex>
            <seo>
                <newfilename>1</newfilename>
            </seo>
        </activo_bulkimages>
    </default>    
</config>