<?xml version="1.0"?>
<!--
/**
 * Activo Extensions
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Activo Commercial License
 * that is available through the world-wide-web at this URL:
 * http://extensions.activo.com/license_professional
 *
 * @copyright   Copyright (c) 2017 Activo Extensions (http://extensions.activo.com)
 * @license     Commercial
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Activo_BulkImages::manage_bulk_images" title="Manage Bulk Images" module="Activo_BulkImages" sortOrder="10" parent="Activo_BulkImages::bulk_images" action="bulkimages/bulkimagesimport" resource="Activo_BulkImages::manage_bulk_images"/>
        <add id="Activo_BulkImages::drag_drop_bulk_images" title="Drag &amp; Drop" module="Activo_BulkImages" sortOrder="20" parent="Activo_BulkImages::bulk_images" action="bulkimages/dragndrop" resource="Activo_BulkImages::drag_drop_bulk_images"/>
        <add id="Activo_BulkImages::configuration_bulk_images" title="Configuration" module="Activo_BulkImages" sortOrder="30" parent="Activo_BulkImages::bulk_images" action="adminhtml/system_config/edit/section/activo_bulkimages/" resource="Activo_BulkImages::configuration_bulk_images"/>
        <add id="Activo_BulkImages::bulk_images" title="Bulk Images" module="Activo_BulkImages" sortOrder="20" parent="Magento_Catalog::catalog" resource="Activo_BulkImages::bulk_images"/>
    </menu>
</config>
