<?xml version="1.0"?>
<!--
/**
 * Activo Extensions
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Activo Commercial License
 * that is available through the world-wide-web at this URL:
 * http://extensions.activo.com/license_professional
 *
 * @copyright   Copyright (c) 2017 Activo Extensions (http://extensions.activo.com)
 * @license     Commercial
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="activo" translate="label" sortOrder="100">
            <label>Activo</label>
        </tab>
        <section id="activo_bulkimages" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>bulkimages</class>
            <label>Bulk Images</label>
            <tab>activo</tab>
            <resource>Activo_GoogleTagManager::googletagmanager</resource>
            <group id="global" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Options</label>
                <field id="licensekey" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>License Code</label>                    
                </field>
                <field id="sourcefolder" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Source Media Folder</label>
                    <comment>The path under base media folder. No need for trailing slash.</comment>
                </field>                
                <field id="subfolders" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include subfolders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Also include images from nested subfolders.</comment>
                </field>
                <field id="separator" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Filename Separator</label>
                    <comment>A string that separates the SKU from the image number in the image filename. (Default: -BI-).</comment>
                </field>   
                <field id="excludefirst" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude First?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Should the first image in the product image gallery be excluded? Note: in some themes the alternative images will show a repeat of the first image at the product page, setting this to true will avoid the duplication.</comment>
                </field>                
                <field id="deleteold" translate="label" type="select" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delete Existing Images?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>By default Bulk Images will delete existing images from matched products before uploading the new ones,
                        however here you can choose to keep the old images and just add the new images instead.
                        If a product SKU is not matched to any of the image files, the product images will remain intact
                        regardless of this option setting.</comment>
                </field>
                <field id="filteroptions" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Products Filtering</label>
                    <source_model>Activo\BulkImages\Model\System\Config\Backend\FilterOptions</source_model>
                    <comment>Select which catalog products should we look for, currently only allows to filter by Visibility.</comment>
                </field>
                <field id="attachtosimple" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attach Config to Simple?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Should the first image of a Configurable product be attached with all simple products associated with it?</comment>
                </field>
                <field id="logging" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Detailed Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This would create a separate file named 'activo_bulkimages.log' in 'var/log/activo' and will log all products and image matches every time you run import process...</comment>
                </field>
            </group>            
            <group id="dragndrop" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Drag and Drop Options</label>
                <field id="uploadfolder" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Upload Folder</label>                    
                    <comment>The path under base media folder where the dropped images will be uploaded. No need for trailing slash.</comment>
                </field>
                <field id="removeafterupload" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove after import?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Delete uploaded images after importing them. This is important if you keep replacing product images. If you want the new drag and drop uploads to replace existing product images, select "Yes".</comment>
                </field>
            </group>
            <group id="regex" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Regular Expression Match and Replace for SKUs (Optional)</label>
                <comment>
                    Here you can specify the regular expression to perform RegEx match and replace on SKUs before
                    trying to match them to image files. &lt;br/&gt;
                    The Regex patterns follow the syntax of the PHP
                        &lt;a href="http://www.php.net/manual/en/function.preg-replace.php" target="_blank"&gt;preg_replace&lt;/a&gt; function.
                    Make sure you include the opening and close delimiters (slashes '/' by default).&lt;br/&gt;
                    You can also check the regular expression test tool here:
                        &lt;a href="http://www.phpliveregex.com/" target="_blank"&gt;http://www.phpliveregex.com/&lt;/a&gt;
                    to try your RegEx patterns before you run the import process... &lt;br/&gt;
                </comment>
                <field id="regexpattern" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Regex Match Pattern (Optional)</label>                    
                    <comment>If value is not empty it will be applied to the SKU before matching the image filename. First parameter in the preg_replace PHP function.</comment>
                </field>
                <field id="regexreplace" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Regex Replace (Optional)</label>                    
                    <comment>If value is not empty it will replace the above matching regular expression for the SKU before matching the image filename. Second parameter in the preg_replace PHP function.</comment>
                </field>
            </group>
            <group id="seo" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Options</label>                
                <field id="newfilename" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image Filename Renaming</label>
                    <source_model>Activo\BulkImages\Model\System\Config\Backend\FilenameOptions</source_model>
                    <comment>This will rename the first portion of the filename, up to the separator. The original portion after the separator remains the same. It is recommended to use the product name for SEO purposes.</comment>
                </field>
            </group>
        </section>
    </system>
</config>