<!--@subject New Order has been Placed at {{trans "%store" store=$store.getFrontendName()}} @-->
{{template config_path="design/email/header_template"}}

<p>A new order has been placed at {{trans "%store" store=$store.getFrontendName()}} with below details:</p>
<p>Customer Name : {{trans "%name" name=$name}}</p>
<p>Email ID: {{trans "%email" email=$email}}</p>
<p>Order ID : {{trans "%incrementid" incrementid=$incrementid}}</p>


<p>Thank you</p>

{{template config_path="design/email/footer_template"}}