<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <mconnectcustomflatrate>
                <active>1</active>
                <model>Mconnect\Customflatrate\Model\Carrier\Customflatrate</model>
                <name>Flat Rate</name>
                <title>Mconnect</title>
                <type>per_product</type>
				<multiply_qty>1</multiply_qty>
				<shipping_default_value_enable>0</shipping_default_value_enable>
				<show_method>0</show_method>
				<allow_free_shipping>0</allow_free_shipping>
				<sallowspecific>0</sallowspecific>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
				<sort_order>10</sort_order>
            </mconnectcustomflatrate>
        </carriers>
    </default>
</config>
