<?xml version="1.0"?>
<!--

Solwin Infotech
Solwin Ournews Extension

@category   Solwin
@package    Solwin_Ournews
@copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
@license    https://www.solwininfotech.com/magento-extension-license/ 

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
    	<update id="Solwin_Extensions::extensions" title="Solwin" module="Magento_Backend" sortOrder="70" resource="Solwin_Extensions::solwinextensions"/>
        <add id="Solwin_Ournews::ournews" title="Advanced News" parent="Solwin_Extensions::extensions" dependsOnModule="Solwin_Ournews" module="Solwin_Ournews" sortOrder="52" resource="Solwin_Ournews::ournews"/>
        <add id="Solwin_Ournews::ournews_title" title="Advanced News" parent="Solwin_Extensions::extensions" dependsOnModule="Solwin_Ournews" module="Solwin_Ournews" sortOrder="52" resource="Solwin_Ournews::ournews_title"/>
        <add id="Solwin_Ournews::ournewstitle" title="Advanced News" parent="Solwin_Extensions::extensions" dependsOnModule="Solwin_Ournews" module="Solwin_Ournews" sortOrder="52" resource="Solwin_Ournews::ournewstitle"/>
        <add id="Solwin_Ournews::news" title="Manage News" module="Solwin_Ournews" sortOrder="10" action="solwin_ournews/news" resource="Solwin_Ournews::news" parent="Solwin_Ournews::ournews"/>
        <add id="Solwin_Ournews::ournews_config" title="Configuration" module="Solwin_Ournews" sortOrder="20" parent="Solwin_Ournews::ournews" action="adminhtml/system_config/edit/section/newssection" resource="Solwin_Ournews::ournews_config"/>
    </menu>
</config>
