<?xml version="1.0"?>
<!--

Solwin Infotech
Solwin Ournews Extension

@category   Solwin
@package    Solwin_Ournews
@copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
@license    https://www.solwininfotech.com/magento-extension-license/

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="newssection" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Advanced News</label>
            <tab>solwin_extension_tab</tab>
            <resource>Solwin_Ournews::ournews_config</resource>
            <group id="newsgroup" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="active" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Select yes to enable "Ournews" module on frontend.]]></comment>
                </field>
                <field id="toplink" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add Toplink? </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Yes will display "Ournews" link in toplinks on frontend.]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="footerlink" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add Footerlink? </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Yes will display "Ournews" link in footerlinks on frontend.]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="route" translate="label comment" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>News List Url</label>
                    <comment><![CDATA[Set route for module.<br/><b>Example: </b>news.html<br/>Then your list page url become like <b>{BaseUrl}/{Route_Name}</b>]]></comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="url_prefix" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>News Url Prefix</label>
                    <comment><![CDATA[Set url prefix for detail page url.<br/><b>Example: </b>news<br/>then your detail page url will be <b>{BaseUrl}/{URL_Prefix}/{URL_Key}</b><br/>If you do not want to add url prefix leave this field empty.]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="url_suffix" translate="label comment" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>News Url Suffix</label>
                    <comment><![CDATA[Set url suffix for detail page url.<br/><b>Example: </b>.html<br/>then your detail page url Will be <b>{BaseUrl}/{URL_Key}{URL_Suffix}</b><br/>If you do not want to add url suffix leave this field empty.]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="showrightsidebar" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show News In Sidebar </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Show latest news block in sidebar]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="newstitle" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>News Block Title </label>
                    <comment><![CDATA[News title for sidebar block]]></comment>
                    <depends>
                        <field id="active">1</field>
                        <field id="showrightsidebar">1</field>
                    </depends>
                </field>
                <field id="newslimit" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>News Limit In Sidebar Block</label>
                    <comment><![CDATA[Show limited news in sidebar block]]></comment>
                    <depends>
                        <field id="active">1</field>
                        <field id="showrightsidebar">1</field>
                    </depends>
                </field>
                <field id="readmore" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Read More Link Text</label>
                    <comment><![CDATA[Set read more link text for sidebar]]></comment>
                    <depends>
                        <field id="active">1</field>
                        <field id="showrightsidebar">1</field>
                    </depends>
                </field>
                <field id="newsnotfound" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>News Not Found Text</label>
                    <depends>
                        <field id="active">1</field>
                        <field id="showrightsidebar">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
