<?xml version="1.0"?>
<!--
  ~ Copyright © 2016 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magestore_InventorySuccess::inventory" title="Inventory Management" translate="title" module="Magestore_InventorySuccess" sortOrder="20" resource="Magestore_InventorySuccess::inventory"/>

        <!--warehouse management menu-->
        <add id="Magestore_InventorySuccess::warehouse" title="Stock Listing" translate="title" module="Magestore_InventorySuccess" parent="Magestore_InventorySuccess::inventory" sortOrder="10" resource="Magestore_InventorySuccess::warehouse"/>
        <add id="Magestore_InventorySuccess::warehouse_stock_view" title="Stocks in Location" translate="title" module="Magestore_InventorySuccess" parent="Magestore_InventorySuccess::warehouse" sortOrder="10" resource="Magestore_InventorySuccess::warehouse_stock_view" action="inventorysuccess/manageStock/index"/>
        <add id="Magestore_InventorySuccess::product_none_in_warehouse" title="Non-Location Products" translate="title" module="Magestore_InventorySuccess" parent="Magestore_InventorySuccess::warehouse" sortOrder="20" resource="Magestore_InventorySuccess::product_none_in_warehouse" action="inventorysuccess/product_noneInWarehouse/index"/>
        <add id="Magestore_InventorySuccess::warehouse_list" title="Locations" module="Magestore_InventorySuccess" translate="title" parent="Magestore_InventorySuccess::warehouse" sortOrder="30" resource="Magestore_InventorySuccess::warehouse_list" action="inventorysuccess/warehouse/index"/>
        <!--end warehouse management menu-->

        <!--low stock notification menu-->
        <add id="Magestore_InventorySuccess::prediction" title="Prediction" translate="title" module="Magestore_InventorySuccess" sortOrder="20" parent="Magestore_InventorySuccess::inventory" resource="Magestore_InventorySuccess::prediction" />
        <add id="Magestore_InventorySuccess::supplyneeds" title="Supply Needs" translate="title" module="Magestore_InventorySuccess" sortOrder="5" parent="Magestore_InventorySuccess::prediction" resource="Magestore_InventorySuccess::supplyneeds" action="inventorysuccess/supplyNeeds/index"/>
        <add id="Magestore_InventorySuccess::list_notification_rule" title="Low Stock Rules" translate="title" module="Magestore_InventorySuccess" sortOrder="10" parent="Magestore_InventorySuccess::prediction" action="inventorysuccess/lowstocknotification_rule/index" resource="Magestore_InventorySuccess::list_notification_rule"/>
        <add id="Magestore_InventorySuccess::list_notification" title="Low Stock Notifications" translate="title" module="Magestore_InventorySuccess" sortOrder="20" parent="Magestore_InventorySuccess::prediction" action="inventorysuccess/lowstocknotification_notification/index" resource="Magestore_InventorySuccess::list_notification"/>
        <!--end low stock notification menu-->

        <!--stock control menu-->
        <add id="Magestore_InventorySuccess::stockcontrol" title="Stock Control" translate="title" module="Magestore_InventorySuccess" parent="Magestore_InventorySuccess::inventory" sortOrder="60" resource="Magestore_InventorySuccess::stockcontrol"/>
        <add id="Magestore_InventorySuccess::create_adjuststock" title="New Stock Adjustment" module="Magestore_InventorySuccess" translate="title" sortOrder="10" parent="Magestore_InventorySuccess::stockcontrol" resource="Magestore_InventorySuccess::create_adjuststock" action="inventorysuccess/adjuststock/new"/>
        <add id="Magestore_InventorySuccess::create_stocktaking" title="New Stocktaking" module="Magestore_InventorySuccess" translate="title" sortOrder="20" parent="Magestore_InventorySuccess::stockcontrol" resource="Magestore_InventorySuccess::create_stocktaking" action="inventorysuccess/stocktaking/new"/>
        <add id="Magestore_InventorySuccess::adjuststock_history" title="Adjust Stock History" module="Magestore_InventorySuccess" translate="title" sortOrder="30" parent="Magestore_InventorySuccess::stockcontrol" resource="Magestore_InventorySuccess::adjuststock_history" action="inventorysuccess/adjuststock/index"/>
        <add id="Magestore_InventorySuccess::stocktaking_history" title="Stocktaking History" module="Magestore_InventorySuccess" translate="title" sortOrder="40" parent="Magestore_InventorySuccess::stockcontrol" resource="Magestore_InventorySuccess::stocktaking_history" action="inventorysuccess/stocktaking/index"/>
        <add id="Magestore_InventorySuccess::stock_transfer" title="Receipt/ Delivery History" module="Magestore_InventorySuccess" translate="title" parent="Magestore_InventorySuccess::stockcontrol" sortOrder="45" resource="Magestore_InventorySuccess::stock_movement" action="inventorysuccess/stockMovement/transfer"/>
        <add id="Magestore_InventorySuccess::stock_movement" title="Stock Movement History" module="Magestore_InventorySuccess" translate="title" parent="Magestore_InventorySuccess::stockcontrol" sortOrder="50" resource="Magestore_InventorySuccess::stock_movement" action="inventorysuccess/stockMovement/index"/>
        <!--end stock control menu-->

        <!-- create setting control menu -->
        <add id="Magestore_InventorySuccess::settings" title="Settings" translate="title" module="Magestore_InventorySuccess" parent="Magestore_InventorySuccess::inventory" sortOrder="65" resource="Magestore_InventorySuccess::configuration"/>
        <add id="Magestore_InventorySuccess::configuration" title="Configuration" module="Magestore_InventorySuccess" translate="title" sortOrder="10" parent="Magestore_InventorySuccess::settings" resource="Magestore_InventorySuccess::configuration" action="adminhtml/system_config/edit/section/inventorysuccess"/>
        <!--end setting control menu-->

        <!-- create transfer stock menu -->
        <add id="Magestore_InventorySuccess::transferstock_create" title="Transfer Stock" translate="title" module="Magestore_InventorySuccess" parent="Magestore_InventorySuccess::inventory" sortOrder="40" resource="Magestore_InventorySuccess::transferstock_create"/>

        <add id="Magestore_InventorySuccess::send_stock_create" title="Send Stock" module="Magestore_InventorySuccess" translate="title" parent="Magestore_InventorySuccess::transferstock_create" sortOrder="30" resource="Magestore_InventorySuccess::send_stock_create" action="inventorysuccess/transferstock_send/new"/>
        <add id="Magestore_InventorySuccess::request_stock_create" title="Request Stock" translate="title" module="Magestore_InventorySuccess" parent="Magestore_InventorySuccess::transferstock_create" sortOrder="40" resource="Magestore_InventorySuccess::request_stock_create" action="inventorysuccess/transferstock_request/new"/>
        <add id="Magestore_InventorySuccess::transfer_to_external_create" title="Transfer to External" translate="title" module="Magestore_InventorySuccess" parent="Magestore_InventorySuccess::transferstock_create" sortOrder="50" resource="Magestore_InventorySuccess::external_transfer_stock_create" action="inventorysuccess/transferstock_external/new/type/to_external"/>
        <add id="Magestore_InventorySuccess::transfer_from_external_create" title="Transfer from External" translate="title" module="Magestore_InventorySuccess" parent="Magestore_InventorySuccess::transferstock_create" sortOrder="60" resource="Magestore_InventorySuccess::external_transfer_stock_create" action="inventorysuccess/transferstock_external/new/type/from_external"/>
        <!-- end create transfer stock menu -->

        <!-- transfer stock history menu -->
        <add id="Magestore_InventorySuccess::transferstock_history" title="Transfer Stock History" translate="title" module="Magestore_InventorySuccess" parent="Magestore_InventorySuccess::inventory" sortOrder="50" resource="Magestore_InventorySuccess::transferstock_history"/>

        <add id="Magestore_InventorySuccess::send_stock_history" title="Send Stock History" module="Magestore_InventorySuccess" translate="title" parent="Magestore_InventorySuccess::transferstock_history" sortOrder="30" resource="Magestore_InventorySuccess::send_stock_history" action="inventorysuccess/transferstock_history/send"/>
        <add id="Magestore_InventorySuccess::request_stock_history" title="Request Stock History" module="Magestore_InventorySuccess" translate="title" parent="Magestore_InventorySuccess::transferstock_history" sortOrder="30" resource="Magestore_InventorySuccess::request_stock_history" action="inventorysuccess/transferstock_history/request"/>
        <add id="Magestore_InventorySuccess::transfer_to_external_history" title="Transfer to External History" module="Magestore_InventorySuccess" translate="title" parent="Magestore_InventorySuccess::transferstock_history" sortOrder="30" resource="Magestore_InventorySuccess::to_external_transfer_stock_history" action="inventorysuccess/transferstock_history/toexternal"/>
        <add id="Magestore_InventorySuccess::transfer_from_external_history" title="Transfer from External History" module="Magestore_InventorySuccess" translate="title" parent="Magestore_InventorySuccess::transferstock_history" sortOrder="30" resource="Magestore_InventorySuccess::from_external_transfer_stock_history" action="inventorysuccess/transferstock_history/fromexternal"/>
        <!-- end of transfer stock menu -->

    </menu>
</config>
