<?xml version="1.0"?>
<!--
  ~ Copyright © 2016 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <inventorysuccess>
            <stock_control>
                <link_warehouse_store_view>0</link_warehouse_store_view>
                <adjust_stock_change>0</adjust_stock_change>
                <duplicate_stock_data>1</duplicate_stock_data>
            </stock_control>
            <interface>
                <show_thumbnail_product>1</show_thumbnail_product>
            </interface>
        </inventorysuccess>
        <lowstocknotification>
            <notification>
                <send_email_notification>lowstock_notification_email_template</send_email_notification>
            </notification>
        </lowstocknotification>
    </default>
</config>
