<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2016 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- fix bug core magento - https://github.com/magento/magento2/pull/11730/commits/1d3779f6e92358894dc388b17837dbb747ae90ed -->
    <preference for="Magento\Framework\Convert\Excel" type="Magestore\InventorySuccess\Rewrite\Magento\Framework\Convert\Excel" />

    <!-- implement for Magento EE version -->
    <preference for="Magento\VisualMerchandiser\Model\Category\Products" type="Magestore\InventorySuccess\Rewrite\VisualMerchandiser\Model\Category\Products"/>

    <preference for="Magento\VisualMerchandiser\Model\Product\DataProvider" type="Magestore\InventorySuccess\Rewrite\VisualMerchandiser\Model\Product\DataProvider"/>

    <preference for="Magestore\InventorySuccess\Api\Data\Warehouse\WarehouseInterface" type="Magestore\InventorySuccess\Model\Warehouse"/>

    <preference for="Magestore\InventorySuccess\Api\Data\Warehouse\ProductInterface" type="Magestore\InventorySuccess\Model\Warehouse\Product"/>

    <preference for="Magestore\InventorySuccess\Api\Data\Permission\PermissionInterface" type="Magestore\InventorySuccess\Model\Permission\Permission"/>

    <preference for="Magestore\InventorySuccess\Api\Warehouse\Location\MappingManagementInterface" type="Magestore\InventorySuccess\Model\Warehouse\Location\MappingManagement"/>

    <preference for="Magestore\InventorySuccess\Api\Permission\PermissionManagementInterface" type="Magestore\InventorySuccess\Model\Permission\PermissionManagement"/>

    <preference for="Magestore\InventorySuccess\Api\AdjustStock\AdjustStockManagementInterface" type="Magestore\InventorySuccess\Model\AdjustStock\AdjustStockManagement"/>

    <preference for="Magestore\InventorySuccess\Api\Stocktaking\StocktakingManagementInterface" type="Magestore\InventorySuccess\Model\Stocktaking\StocktakingManagement"/>

    <preference for="Magestore\InventorySuccess\Api\StockActivity\ProductSelectionManagementInterface" type="Magestore\InventorySuccess\Model\StockActivity\ProductSelectionManagement"/>

    <preference for="Magestore\InventorySuccess\Api\StockActivity\StockChangeInterface" type="Magestore\InventorySuccess\Model\StockActivity\StockChange"/>

    <preference for="Magestore\InventorySuccess\Api\Db\QueryProcessorInterface" type="Magestore\InventorySuccess\Model\Db\QueryProcessor"/>

    <preference for="Magestore\InventorySuccess\Api\Warehouse\WarehouseStockRegistryInterface" type="Magestore\InventorySuccess\Model\Warehouse\WarehouseStockRegistry"/>

    <preference for="Magestore\InventorySuccess\Api\Warehouse\WarehouseStockRepositoryInterface" type="Magestore\InventorySuccess\Model\Warehouse\WarehouseStockRepository"/>

    <preference for="Magestore\InventorySuccess\Api\Warehouse\WarehouseManagementInterface" type="Magestore\InventorySuccess\Model\Warehouse\WarehouseManagement"/>

    <preference for="Magestore\InventorySuccess\Api\Warehouse\WarehouseRepositoryInterface" type="Magestore\InventorySuccess\Model\Warehouse\WarehouseRepository"/>

    <preference for="Magestore\InventorySuccess\Api\Data\Warehouse\UpdateWarehouseStockRequestInterface" type="Magestore\InventorySuccess\Model\Warehouse\UpdateWarehouseStockRequest"/>

    <preference for="Magestore\InventorySuccess\Api\Warehouse\OrderItemManagementInterface" type="Magestore\InventorySuccess\Model\Warehouse\OrderItemManagement"/>

    <preference for="Magestore\InventorySuccess\Api\Warehouse\ShipmentItemManagementInterface" type="Magestore\InventorySuccess\Model\Warehouse\ShipmentItemManagement"/>

    <preference for="Magestore\InventorySuccess\Api\Warehouse\CreditmemoItemManagementInterface" type="Magestore\InventorySuccess\Model\Warehouse\CreditmemoItemManagement"/>

    <preference for="Magestore\InventorySuccess\Api\InstallManagementInterface" type="Magestore\InventorySuccess\Model\InstallManagement"/>

    <preference for="Magestore\InventorySuccess\Api\Helper\SystemInterface" type="Magestore\InventorySuccess\Helper\System"/>

    <preference for="Magestore\InventorySuccess\Api\IncrementIdManagementInterface" type="Magestore\InventorySuccess\Model\IncrementId\IncrementIdManagement"/>

    <preference for="Magestore\InventorySuccess\Api\Data\AdjustStock\AdjustStockInterface" type="Magestore\InventorySuccess\Model\AdjustStock"/>

    <preference for="Magestore\InventorySuccess\Api\Data\AdjustStock\ProductInterface" type="Magestore\InventorySuccess\Model\AdjustStock\Product"/>

    <preference for="Magestore\InventorySuccess\Api\OrderProcess\OrderProcessServiceInterface" type="Magestore\InventorySuccess\Model\OrderProcess\OrderProcessService"/>

    <preference for="Magestore\InventorySuccess\Api\OrderProcess\OrderProcessServiceInterface" type="Magestore\InventorySuccess\Model\OrderProcess\OrderProcessService" />

    <preference for="Magestore\InventorySuccess\Api\OrderProcess\PlaceNewOrderInterface" type="Magestore\InventorySuccess\Model\OrderProcess\PlaceNewOrder"/>

    <preference for="Magestore\InventorySuccess\Api\OrderProcess\ChangeOrderWarehouseInterface" type="Magestore\InventorySuccess\Model\OrderProcess\ChangeOrderWarehouse"/>

    <preference for="Magestore\InventorySuccess\Api\OrderProcess\ChangeOrderWarehouseInterface" type="Magestore\InventorySuccess\Model\OrderProcess\ChangeOrderWarehouse" />

    <preference for="Magestore\InventorySuccess\Api\OrderProcess\CreateShipmentInterface" type="Magestore\InventorySuccess\Model\OrderProcess\CreateShipment"/>

    <preference for="Magestore\InventorySuccess\Api\OrderProcess\CreateCreditmemoInterface" type="Magestore\InventorySuccess\Model\OrderProcess\CreateCreditmemo"/>

    <preference for="Magestore\InventorySuccess\Api\OrderProcess\CancelOrderInterface" type="Magestore\InventorySuccess\Model\OrderProcess\CancelOrder"/>

    <preference for="Magestore\InventorySuccess\Api\Logger\LoggerInterface" type="Magestore\InventorySuccess\Model\Logger\Logger"/>

    <preference for="Magestore\InventorySuccess\Api\Data\StockMovement\StockMovementInterface" type="Magestore\InventorySuccess\Model\StockMovement"/>

    <preference for="Magestore\InventorySuccess\Api\Data\StockMovement\StockTransferInterface" type="Magestore\InventorySuccess\Model\StockMovement\StockTransfer"/>

    <preference for="Magestore\InventorySuccess\Api\StockMovement\StockTransferServiceInterface" type="Magestore\InventorySuccess\Model\StockMovement\StockTransferService"/>

    <preference for="Magestore\InventorySuccess\Api\StockMovement\StockTransferServiceInterface" type="Magestore\InventorySuccess\Model\StockMovement\StockTransferService" />
        
    <preference for="Magestore\InventorySuccess\Api\AdjustStock\AdjustStockRepositoryInterface" type="Magestore\InventorySuccess\Model\AdjustStock\AdjustStockRepository"/>

    <preference for="Magestore\InventorySuccess\Api\Data\AdjustStock\CreateAdjustStockRequestInterface" type="Magestore\InventorySuccess\Model\Data\AdjustStock\CreateAdjustStockRequest"/>

    <preference for="Magestore\InventorySuccess\Api\StockActivity\StockMovementActionInterface" type="Magestore\InventorySuccess\Model\StockActivity\StockMovementAction"/>

    <preference for="Magestore\InventorySuccess\Api\LowStockNotification\RuleManagementInterface" type="Magestore\InventorySuccess\Model\LowStockNotification\RuleManagement"/>

    <type name="Magestore\InventorySuccess\Model\StockActivity\StockMovementProvider">
        <arguments>
            <argument name="actionProviders" xsi:type="array">
                <!--<item name="add_product" xsi:type="object">Magestore\InventorySuccess\Model\StockMovement\Options\AdjustStockMovementMask</item>-->
                <item name="adjustment" xsi:type="object">Magestore\InventorySuccess\Model\AdjustStock\StockMovementActivity\Adjustment</item>
                <item name="sales_shipment" xsi:type="object">Magestore\InventorySuccess\Model\OrderProcess\StockMovementActivity\SalesShipment</item>
                <item name="sales_refund" xsi:type="object">Magestore\InventorySuccess\Model\OrderProcess\StockMovementActivity\SalesRefund</item>
                <item name="transferstock" xsi:type="object">Magestore\InventorySuccess\Model\TransferStock\StockMovementActivity\Transfer</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sales_order_grid_data_source" xsi:type="string">Magestore\InventorySuccess\Model\ResourceModel\Order\Grid\Collection</item>
                <item name="os_warehouse_listing_data_source" xsi:type="string">Magestore\InventorySuccess\Model\ResourceModel\Warehouse\Grid\Collection</item>
                <item name="os_stockmovement_listing_data_source" xsi:type="string">Magestore\InventorySuccess\Model\ResourceModel\StockMovement\Grid\Collection</item>
                <item name="os_stocktransfer_listing_data_source" xsi:type="string">Magestore\InventorySuccess\Model\ResourceModel\StockMovement\StockTransfer\Grid\Collection</item>
                <item name="os_stockmovement_transfer_listing_data_source" xsi:type="string">Magestore\InventorySuccess\Model\ResourceModel\StockMovement\StockTransfer\Grid\Collection</item>
                <item name="os_warehouse_stockmovement_listing_data_source" xsi:type="string">Magestore\InventorySuccess\Model\ResourceModel\StockMovement\Grid\Collection</item>
                <item name="os_warehouse_order_listing_data_source" xsi:type="string">Magestore\InventorySuccess\Model\ResourceModel\Sales\Order\Grid\Collection</item>
                <item name="os_product_stockmovement_listing_data_source" xsi:type="string">Magestore\InventorySuccess\Model\ResourceModel\StockMovement\Grid\Collection</item>
                <item name="os_adjuststock_listing_data_source" xsi:type="string">Magestore\InventorySuccess\Model\ResourceModel\AdjustStock\Grid\Collection</item>
                <item name="os_stocktaking_listing_data_source" xsi:type="string">Magestore\InventorySuccess\Model\ResourceModel\Stocktaking\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Shipping\Block\Adminhtml\Create\Items">
        <plugin name="BeforeShippingCreateItems" type="Magestore\InventorySuccess\Plugin\OrderProcess\BeforeShippingCreateItems" sortOrder="1" disabled="false"/>
    </type>

    <type name="\Magento\Sales\Block\Adminhtml\Order\Creditmemo\Create\Items">
        <plugin name="BeforeCreditmemoCreateItems" type="Magestore\InventorySuccess\Plugin\OrderProcess\BeforeCreditmemoCreateItems" sortOrder="1" disabled="false"/>
    </type>

    <type name="\Magento\Sales\Block\Adminhtml\Order\Creditmemo\View\Items">
        <plugin name="BeforeCreditmemoViewItems" type="Magestore\InventorySuccess\Plugin\OrderProcess\BeforeCreditmemoViewItems" sortOrder="1" disabled="false"/>
    </type>


    <!-- modify Magento_CatalogInventory -->
    <type name="\Magento\CatalogInventory\Model\Configuration">
        <plugin name="inventorysuccess_model_cataloginventory_configuration" type="Magestore\InventorySuccess\Plugin\CatalogInventory\Model\Configuration" sortOrder="1" disabled="false"/>
    </type>

    <!--Reindex stock status for simple product-->
    <preference for="Magento\CatalogInventory\Model\ResourceModel\Indexer\Stock\DefaultStock" type="Magestore\InventorySuccess\Plugin\CatalogInventory\Model\ResourceModel\Indexer\Stock\DefaultStock"/>

    <!--Reindex stock status for configurable product-->
    <preference for="Magento\ConfigurableProduct\Model\ResourceModel\Indexer\Stock\Configurable" type="Magestore\InventorySuccess\Plugin\CatalogInventory\Model\ResourceModel\Indexer\Stock\Configurable"/>

    <!--Reindex stock status for bundle product-->
    <preference for="Magento\Bundle\Model\ResourceModel\Indexer\Stock" type="Magestore\InventorySuccess\Plugin\CatalogInventory\Model\ResourceModel\Indexer\Stock\Bundle"/>

    <!--Reindex stock status for group product-->
    <preference for="Magento\GroupedProduct\Model\ResourceModel\Indexer\Stock\Grouped" type="Magestore\InventorySuccess\Plugin\CatalogInventory\Model\ResourceModel\Indexer\Stock\Grouped"/>

    <type name="\Magento\CatalogInventory\Model\StockRegistryProvider">
        <plugin name="inventorysuccess_model_StockRegistryProvider" type="Magestore\InventorySuccess\Plugin\CatalogInventory\Model\StockRegistryProvider" sortOrder="1" disabled="false"/>
    </type>

    <preference for="Magento\CatalogInventory\Ui\DataProvider\Product\AddQuantityFieldToCollection" type="Magestore\InventorySuccess\Ui\DataProvider\Product\AddQuantityFieldToCollection"/>

    <type name="\Magento\CatalogInventory\Model\StockManagement">
        <plugin name="inventorysuccess_model_StockManagement" type="Magestore\InventorySuccess\Plugin\CatalogInventory\Model\StockManagement" sortOrder="1" disabled="false"/>
    </type>

    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="warehouse_id" xsi:type="string">sales_order.warehouse_id</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\CatalogInventory\Helper\Stock">
        <plugin name="inventorysuccess_helper_cataloginventory_stock" sortOrder="1" disabled="false" type="Magestore\InventorySuccess\Plugin\CatalogInventory\Helper\Stock"/>
    </type>
    <type name="\Magento\ConfigurableProduct\Model\Product\Type\Configurable">
        <plugin name="inventorysuccess_model_Configurable" sortOrder="1" disabled="false" type="Magestore\InventorySuccess\Plugin\ConfigurableProduct\Model\Product\Type\Configurable"/>
    </type>

    <preference for="Magento\CatalogSearch\Model\Search\FilterMapper\StockStatusFilter" type="Magestore\InventorySuccess\Plugin\CatalogSearch\Model\Search\FilterMapper\StockStatusFilterRewrite"/>
    <preference for="Magestore\InventorySuccess\Api\Warehouse\WarehouseDuplicateServiceInterface" type="Magestore\InventorySuccess\Model\Service\Warehouse\WarehouseDuplicateService"/>

    <type name="Magento\Bundle\Model\ResourceModel\Selection\Collection">
        <plugin name="inventorysuccess_bundle_selection_collection" sortOrder="1" disabled="false" type="Magestore\InventorySuccess\Plugin\Bundle\Model\ResourceModel\Selection\Collection"/>
    </type>
</config>