<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mppercountryperproductshipping
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Webkul_Customattribute::index" title="Manage Custom Attribute" module="Webkul_Customattribute" sortOrder="20" parent="Webkul_Marketplace::menu" action="customattribute/index" resource="Webkul_Customattribute::index"/>
    </menu>
</config>