<?xml version="1.0"?>
<!-- 
/**
 * Webkul Software
 *
 * @category Webkul
 * @package Webkul_Customoption
 * @author Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license https://store.webkul.com/license.html
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product\Option\SaveHandler">
        <plugin name="marketplace_option_save_handler"
                type="Webkul\Customoption\Plugin\Catalog\Model\Product\Option\SaveHandler"
                sortOrder="10" />
    </type>
</config>