<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Feed
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amasty_feed" translate="label" type="text" sortOrder="161812" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Product Feed</label>
            <tab>amasty</tab>
            <resource>Amasty_Feed::general</resource>
            <group id="amasty_information" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Information</label>
                <frontend_model>Amasty\Feed\Block\Adminhtml\System\Config\Information</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="batch_size" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Batch Size</label>
                    <validate>validate-greater-than-zero</validate>
                    <comment>Indicate how many products will be handled during one iteration. Affects the feed generation time and the server memory consumption.</comment>
                </field>
                <field id="category_path" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>URL with category</label>
                    <source_model>Amasty\Feed\Model\Config\Source\Path</source_model>
                </field>
                <field id="preview_items" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <validate>validate-greater-than-zero</validate>
                    <label>Products in Feed Preview</label>
                </field>
            </group>
            <group id="notifications" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Email Notifications</label>
                <field id="email_sender" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="emails" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Email</label>
                    <comment>Separate emails by commas.</comment>
                </field>
                <field id="events" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Notification Events</label>
                    <source_model>Amasty\Feed\Model\Config\Source\Events</source_model>
                </field>
                <field id="success_template" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Successful Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="unsuccess_template" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Unsuccessful Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
            <group id="information" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cronjob Information</label>
                <frontend_model>Amasty\Feed\Block\Adminhtml\Info</frontend_model>
            </group>
        </section>
    </system>
</config>
