<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <default>
        <admin_notifications>
            <general>
                <order>
                    <email_template>admin_notifications_general_order_email_template</email_template>
                </order>
                <order_status>
                    <email_template>admin_notifications_general_order_status_email_template</email_template>
                </order_status>
                <cart>
                    <email_template>admin_notifications_general_cart_email_template</email_template>
                </cart>
                <stock>
                    <email_template>admin_notifications_general_stock_email_template</email_template>
                </stock>
                <review>
                    <email_template>admin_notifications_general_review_email_template</email_template>
                </review>
                <registration>
                    <email_template>admin_notifications_general_registration_email_template</email_template>
                </registration>
                <newsletter>
                    <email_template>admin_notifications_general_newsletter_email_template</email_template>
                </newsletter>
                <unsubscription>
                    <email_template>admin_notifications_general_unsubscription_email_template</email_template>
                </unsubscription>
                <wishlist>
                    <email_template>admin_notifications_general_wishlist_email_template</email_template>
                </wishlist>
            </general>
        </admin_notifications>
    </default>
</config>