<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <event name="sales_order_save_after">
        <observer name="meetanshi_notificatios_save_after" instance="Meetanshi\Notifications\Observer\OrderStatus"/>
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="meetanshi_notificatios_submit_before" instance="Meetanshi\Notifications\Observer\Stock"/>
    </event>
    <event name="sales_order_place_after">
        <observer name="meetanshi_notificatios_new_order_place" instance="Meetanshi\Notifications\Observer\NewOrder"/>
    </event>
    <event name="review_save_before">
        <observer name="meetanshi_notificatios_review" instance="Meetanshi\Notifications\Observer\Review"/>
    </event>
    <event name="customer_register_success">
        <observer name="meetanshi_notificatios_register" instance="Meetanshi\Notifications\Observer\CustomerRegister"/>
    </event>
    <event name="newsletter_subscriber_save_before">
        <observer name="meetanshi_notificatios_subscriber"
                  instance="Meetanshi\Notifications\Observer\NewsletterSubscription"/>
    </event>
    <event name="wishlist_add_product">
        <observer name="meetanshi_notificatios_wishlist" instance="Meetanshi\Notifications\Observer\WishlistProduct"/>
    </event>
</config>